# Игнорировать все JSON-файлы
*.json

# Игнорировать все TXT файлы, кроме requirements(список библиотек)
*.txt
!requirements.txt

# Игнорировать все логи
*.log

# Игнорировать все csv
*.csv

# Игнорировать содержимое папок:
data_clean/export_data/*
data_clean/processed_data/*
data_raw/2gis/*

tests/test_2gis_parser/test_district/*
tests/test_clean_export_data/export_data/*
tests/test_clean_export_data/processed_data/*