# Игнорировать все JSON-файлы
*.json

# Игнорировать папку examplesJSON и все файлы внутри нее
examplesJSON/
builds_json
orgs_in_builds_json

# Игнорировать конкретный TXT-файл (например, data.txt)
irkutsk_addresses_sorted.txt
*.txt
!requirements.txt

*.log